body {
    background-color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.device {
    background-color: white;
    max-width: 420px;
    height: 100%;
    border-radius: 25px;
    margin: 0 auto;
    overflow: hidden;
}
.banner-image {
    width: 100%;
}
.bar {
    background-color: white;
}
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2px;
}
.container1 {
    background-color: rgb(60, 60, 128);
    color: white;
}
.container1 {
    background-color: rgb(60, 60, 128);
    color: white;
}
.container2 {
    background-color: rgb(60, 60, 128);
    color: white;
    
}
.container3 {
    background-color: rgb(60, 60, 128);
    color: white;
}
h3 {
    color: blue;
}
h2 {
    font-weight: 100;
}
p {
    margin: 25px;
    color: gray;
}