body {
    background-color: black;
}
.screen {
    background-color: white;
    border-radius: 25px;
    min-width: 320px;
    max-width: 450px;
    text-align: center;
    box-sizing: content-box;
}
.banner img {
    width: 100%;
}

h3 {
    color:blue;
}