body {
    box-sizing: border-box;
}
#content {
    text-align: center;
    background-color: gray;
}
#banner {
    width: 100%;
}
.circles {
    border-radius: 50%;
    width: 20%;
    border: solid #5B5B5B 25px;
    margin: 50px;
}