@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    text-align: center;
}
.madi-logo {
    width:25%;
    transform: rotate(45deg)
}
#top-nav a {
    color: #625240;
    text-decoration: none;
    margin:20px;
    font-size: 1em;
}
#top-nav a:hover {
    color:#b85c20;
    text-decoration: underline;
}
header {
    position:fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 50px 50px;
}

.column {
    margin-top:30px;
    float: left;
    padding: 10px;
    height: 80px;
}
  
.left {
    width: 20%;
}
  
.right {
    margin-top:55px;
    width: 75%;
    display: grid;
    grid-template-columns: 3fr;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
#banner {
    background-color:#fafafa;
    padding:150px;
    margin-top: 155px;
}
.flower {
    width:200px;
    float: left;
}
#features {
    background-color:#625240;
    padding:150px;
}
#how_it_works {
    background-color:#dbc8b3;
    padding:150px;
}
#testimonials {
    background-color:#8a8a8a;
    padding:150px;
}
#action {
    background-color:#ccbfbf;
    padding:150px;
}
footer {
    background-color:#8a8a8a;
    padding:150px;
}